

.fp-loading-bar {
  display: flex;
  height: 10px;
  width: 100%;
  max-width: 320px;
  box-shadow: inset 0px 0px 0px 1px #c8c8cd;
  border-radius: 50px;
  /* overflow: hidden; */
  background : #F0F4F4;
  border: none;
  z-index: 1;
  position: relative;
  animation : hide 10s forwards;
} 

.he{
  opacity: 1;  
  animation : hide 10s forwards;
}


@keyframes hide {
  0%{
    z-index: 0;

    opacity: 1;
  }
  99%{
    z-index: 0;

    opacity: 1;
  }
  100%{
    z-index: -1;
    opacity: 0;
    /* height: 0; */
  }
}

.ne{
  opacity: 0;  
  animation : show 10s forwards;
}

@keyframes show {
  0%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 30%;
  }
  30% {
    width: 60%;
  }

  50% {
    width: 90%;
  }

  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.fp-progress-bar {
  display: flex;
  height: 100%;
  width: 90%;
  background: linear-gradient(90deg, #49B7CF 0%, #D9EFF4 0%, #49B7CF 100%);
  border-radius: 25px;
  animation: progress-animation 10s forwards;
}
